@charset "UTF-8";

html {
}
body {
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
}
[role="button"] {
  cursor: pointer;
}

/**
  *
  *
  *
 **/

.header-head {
  position: relative;
  background: url("../images/bg-pattern.jpg") repeat;
}
.header-full-height {
  min-height: 100vh;
  height: calc(100vh - 56px);
  background: transparent;
}
.rd-navbar-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.rd-navbar {
  display: none;
}
.rd-navbar-static {
  display: block;
}
.rd-navbar-inner {
  position: relative;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}
.rd-navbar-panel {
  padding: 33px 0;
}
.rd-navbar-panel-left {
  text-align: left;
}
.rd-navbar-panel-center {
  text-align: center;
}
.rd-navbar-panel-right {
  text-align: right;
}
.moto-widget-text-content {
  padding:0 1px
}
.moto-text_system_1 {
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  line-height: 1.1;
  letter-spacing: 0px;
}
.moto-text_system_1 a {
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.moto-text_system_1 a:hover {
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.moto-color_custom5 {
  color: #ffca0b;
}
.btn .btn-social-icon {
  width: 35px;
  height: 35px;
  padding: 0
}
.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d
}
.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff
}
.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1
}
.btn-outline-twitter:hover {
  background: #2caae1;
  color: #ffffff
}
.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38
}
.btn-outline-instagram:hover {
  background: #e52d27;
  color: #ffffff
}
.btn-outline-500px {
  border: 1px solid #000000;
  color: #3b579d
}
.btn-outline-500px:hover {
  background: #000000;
  color: #ffffff
}

/**
  *
  *
  *
 **/

.section-head {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.jcarousel {
  position: relative;
  overflow: hidden;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  float: left;
}

/**
  *
  *
  *
 **/

.footer-head {
}
.footer-container {
}

/**
  *
  *
  *
 **/

@media (max-width: 767px) {

}
@media (max-width: 479px) {

}