@charset "UTF-8";

html {
}
body {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #d4d7d7;
}
[role="button"] {
  cursor: pointer;
}
[class*="font"] body {
  font-family: PT Sans,Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
}

/**
  *
  *
  *
 **/
.header-head {
}
.header-full-height {
  min-height: 100vh;
  height: calc(100vh - 56px);
  background: transparent;
}
.rd-navbar-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.rd-navbar-wrap-new {
  background: url("../image/bg-pattern.jpg") repeat;
}
.rd-navbar {
  display: none;
}
.rd-navbar-static {
  display: block;
}
.rd-navbar-inner {
  position: relative;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.rd-navbar-panel {
  padding: 33px 0;
}
.rd-navbar-panel-left {
  float: left;
  text-align: left;
}
.rd-navbar-panel-center {
  text-align: center;
}
.rd-navbar-panel-right {
  float: right;
  text-align: right;
}
.moto-widget-text-content {
  padding:0 1px
}
.moto-text_system_1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d4d7d7;
  font-size: 25px;
  line-height: 1.1;
  letter-spacing: 0px;
}
.moto-text_system_1 a {
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #d4d7d7;
}
.moto-text_system_1 a:hover {
  color: #d4d7d7;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
}
.moto-color_custom5 {
  color: #2caae1;
}
.moto-color1_1 {
  color: #d4d7d7;
}
.btn .btn-social-icon {
  width: 35px;
  height: 35px;
  padding: 0
}
.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d
}
.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff
}
.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1
}
.btn-outline-twitter:hover {
  background: #2caae1;
  color: #fff
}
.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38
}
.btn-outline-instagram:hover {
  background: #e52d27;
  color: #fff
}
.btn-outline-500px {
  border: 1px solid #000;
  color: #3b579d
}
.btn-outline-500px:hover {
  background: #000;
  color: #fff
}
.moto-widget-menu-item {
  text-align: left;
  padding: 0 0 5px 0;
}
.moto-widget-menu-link {
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  padding: 10px 14px;
}
.navbar-custom {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #d4d7d7;
}
.navbar-custom .navbar-nav .nav-link {
  padding: 1em 1em;
}
.navbar-custom .nav-item.active .nav-link, 
.navbar-custom .nav-item:hover .nav-link {
  color: #d4d7d7;
}
.navbar-custom .navbar-nav .nav-link {
  color: #2caae1;
}
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  color: #d4d7d7;
}
.navbar-custom .dropdown-menu {
  background-color: transparent;
}
.navbar-custom .dropdown-item {
  color: #d4d7d7;
}
.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color: #d4d7d7;
  background-color: #2caae1;
}

/**
  *
 **/
.section-head {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.jcarousel {
  position: relative;
  overflow: hidden;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  float: left;
}

/**
  *
  * 
  *
 **/
.page-head {
}

/**
  * NEWS
 **/
.section-news {
  position: relative;
  z-index: 3;
  margin-top: 161px;
}
.news-container {
  margin-right: -40px;
  top: 0;
}.news-item.blog-col-1 {
  float: none;
  width: 100%;
}
.post-wrap {
  top: 0;
  margin-right: 40px;
  margin-bottom: 50px;
  position: relative;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 0 -2px rgba(46,51,64,0.1);
  -moz-box-shadow: 0 4px 0 -2px rgba(46,51,64,0.1);
  box-shadow: 0 4px 0 -2px rgba(46,51,64,0.1);
}
.post-content {
  position: relative;
  padding: 50px 50px 55px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.post-title {
  margin-bottom: 0;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #2c2f36;
}
.post-excerpt {
  margin-top: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #3f434c;
}
.post-details-wrap {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}
.post-date {
    float: left;
    margin: 30px 5px 0 0;
    text-transform: uppercase;
    color: #a9aeba;
}
/**
  * LOGIN
 **/
.section-login {
  max-width: 100%;
  padding-top: 161px;
}
.login-box {
  height: auto;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #ECF0F5;
}
.login-form {
  margin-top: 25px;
}
.form-group {
  margin-bottom: 40px;
  outline: 0px;
  text-align: left;
}
.form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0DB8DE;
  outline: 0;
  color: #6C6C6C;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid #0DB8DE;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ECF0F5;
}
input[type=password] {
  border: none;
  border-bottom: 2px solid #0DB8DE;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ECF0F5;
}
.login-btm {
  float: left;
}
.login-text-error {
  text-align: left;
  padding-left: 0px;
  color: #f00;
}
.login-button {
  padding-right: 0px;
  text-align: center;
  margin-bottom: 25px;
}
.btn-outline-primary {
  border-color: #0DB8DE;
  color: #0DB8DE;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn-outline-primary:hover {
  background-color: #0DB8DE;
  right: 0px;
}

/**
  *
  *
  *
 **/
.footer-head {
}
.footer-container {
}

/**
  *
  *
  *
 **/

@media (max-width: 767px) {

}
@media (max-width: 479px) {

}