@charset "UTF-8";

html {
}
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #d4d7d7;
}
[role="button"] {
  cursor: pointer;
}

/**
  *
  *
  *
 **/

.header-head {
  position: relative;
  background: url("../images/bg-pattern.jpg") repeat;
}
.header-full-height {
  min-height: 100vh;
  height: calc(100vh - 56px);
  background: transparent;
}
.rd-navbar-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.rd-navbar {
  display: none;
}
.rd-navbar-static {
  display: block;
}
.rd-navbar-inner {
  position: relative;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}
.rd-navbar-panel {
  padding: 33px 0;
}
.rd-navbar-panel-left {
  text-align: left;
}
.rd-navbar-panel-center {
  text-align: center;
}
.rd-navbar-panel-right {
  float: right;
  text-align: right;
}
.moto-widget-text-content {
  padding:0 1px
}
.moto-text_system_1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d4d7d7;
  font-size: 25px;
  line-height: 1.1;
  letter-spacing: 0px;
}
.moto-text_system_1 a {
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  color: #d4d7d7;
}
.moto-text_system_1 a:hover {
  color: #d4d7d7;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
}
.moto-color_custom5 {
  color: #2caae1;
}
.moto-color1_1 {
  color: #d4d7d7;
}
.btn .btn-social-icon {
  width: 35px;
  height: 35px;
  padding: 0
}
.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d
}
.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff
}
.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1
}
.btn-outline-twitter:hover {
  background: #2caae1;
  color: #fff
}
.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38
}
.btn-outline-instagram:hover {
  background: #e52d27;
  color: #fff
}
.btn-outline-500px {
  border: 1px solid #000;
  color: #3b579d
}
.btn-outline-500px:hover {
  background: #000;
  color: #fff
}

.moto-widget-menu-item {
  text-align: left;
  padding: 0 0 5px 0;
}
.moto-widget-menu-link {
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  padding: 10px 14px;
}
.navbar-custom {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #d4d7d7;
}
.navbar-custom .navbar-nav .nav-link {
    padding: 1em 1em;
}
.navbar-custom .nav-item.active .nav-link, 
.navbar-custom .nav-item:hover .nav-link {
    color: #d4d7d7;
}
.navbar-custom .navbar-nav .nav-link {
    color: #2caae1;
}
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    color: #d4d7d7;
}

.navbar-custom .dropdown-menu {
    background-color: transparent;
}
.navbar-custom .dropdown-item {
    color: #d4d7d7;
}
.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
    color: #d4d7d7;
    background-color: #2caae1;
}

/**
  *
  *
  *
 **/

.section-head {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.jcarousel {
  position: relative;
  overflow: hidden;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  float: left;
}

/**
  *
  *
  *
 **/

.footer-head {
}
.footer-container {
}

/**
  *
  *
  *
 **/

@media (max-width: 767px) {

}
@media (max-width: 479px) {

}