@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

body {
  background: #F0EFE7;
  margin: 0;
  padding: 0;
  font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4E443C;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}
h1 {
  color: #4E443C;
  font-size: 36px;
  font-weight: bold;
}
h2, h2 a {
  color: #F14E32;
}
h3, h3 a {
  color: #0388A6;
}
a {
  color: #0388A6;
}
pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
:any-link {
  cursor: pointer;
}
.moto-background {
  background-color: #ffffff;
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.moto-website_live {
  overflow:hidden
}
.moto-section {
  padding:0;
}
.moto-align-left {
  text-align:left
}
.moto-align-center {
  text-align:center
}
.moto-align-right {
  text-align:right
}
.moto-spacing-top-auto {
  padding-top: auto;
}
.moto-spacing-top-zero {
  padding-top: 0;
}
.moto-spacing-top-small {
  padding-top: 15px;
}
.moto-spacing-top-medium {
  padding-top: 35px;
}
.moto-spacing-top-large {
  padding-top: 68px;
}
.moto-spacing-bottom-auto {
  padding-bottom: auto;
}
.moto-spacing-bottom-zero {
  padding-bottom: 0;
}
.moto-spacing-bottom-small {
  padding-bottom: 15px;
}
.moto-spacing-bottom-medium {
  padding-bottom: 35px;
}
.moto-spacing-bottom-large {
  padding-bottom: 68px;
}
.moto-spacing-left-auto {
  padding-left: auto;
}
.moto-spacing-left-zero {
  padding-left: 0;
}
.moto-spacing-left-small {
  padding-left: 15px;
}
.moto-spacing-left-medium {
  padding-left: 35px;
}
.moto-spacing-left-large {
  padding-left: 68px;
}
.moto-spacing-right-auto {
  padding-right: auto;
}
.moto-spacing-right-zero {
  padding-right: 0;
}
.moto-spacing-right-small {
  padding-right: 15px;
}
.moto-spacing-right-medium {
  padding-right: 35px;
}
.moto-spacing-right-large {
  padding-right: 68px;
}