@charset "UTF-8";

html {
}
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #434f53;;
}
[role="button"] {
  cursor: pointer;
}

.uz-left {
  text-align: left;
}
.uz-center {
  text-align: center;
}
.uz-right {
  text-align: right;
}

/**
  *
  * HEADER
  *
 **/
.header-head {
}
.header-container {
  width: 100%;
}
.uz-navbar-wrap {
  background: url("../image/bg-pattern.jpg") repeat;
}
.uz-navbar-panel {
  position: relative;
  width: 100%;
  display: flex;
}
.uz-navbar-colsx {
  float: left; 
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.uz-navbar-colcx {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.uz-navbar-coldx { 
  float: right; 
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.brand {
  padding: 20px 0 0 0;
}
.brand a {
  text-decoration: none; 
  color:#000; 
  font-family: "PT Sans", sans-serif; 
  font-size: 25px; 
  font-style: normal; 
  font-weight: 700; 
  letter-spacing: normal; 
  line-height: 27.5px;
}
.brand-subname-01 {
  color: #ffca0b;
}
.brand-subname_02 {
  font-family: "PT Sans", sans-serif; 
  font-size: 11px; 
  font-style: normal; 
  font-weight: 400; 
  letter-spacing: normal; 
  line-height: 12.1px; 
  color: #969696;
}

/**
  *
 **/
.menu {
  background-color: transparent;
  border-style: solid;
  border-color: #c0c0c0;
  border-left-width: 1px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 20px 0 0 0;
}
.navbar.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: #969696;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  padding: 0 15px 0 15px;
}
.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  text-decoration: none;
}
.navbar.navbar-default .navbar-nav > .active > a,
.navbar.navbar-default .navbar-nav > .active > a:focus,
.navbar.navbar-default .navbar-nav > .active > a:hover {
  color: #ffca0b;
}
.navbar.navbar-default .navbar-toggle .icon-bar,
.navbar.navbar-default .navbar-toggle .icon-bar:hover {

}
.navbar.navbar-default .navbar-toggle,
.navbar.navbar-default .navbar-toggle:focus,
.navbar.navbar-default .navbar-toggle:hover {

}

/**
  *
 **/
.icon-default {
  color: #fff;
}
.icon-xs {
  font-size: 25px;
}
.icoFacebook {
  color: #3b579d;
}
.icoFacebook:hover {
  color: #ffca0b;
}
.icoTwitter {
  color: #2caae1;
}
.icoTwitter:hover {
  color: #ffca0b;
}
.icoInstagram {
  color: #dc4a38;
}
.icoInstagram:hover {
  color: #ffca0b;
}
.ico500px {
  color: #3b579d;
}
.ico500px:hover {
  color: #ffca0b;
}
@media(max-width: 600px) {
  #socialBar {
    visibility: hidden;
  }
}

/**
  *
  *
  *
 **/
.page-head {
}
.page-container {
  width: 100%;
}
/**
  * CONTACTS
 **/
.uz-contact-panel {
  position: relative;
  width: 100%;
}
.uz-contact-colsx { 
  float: left; 
  width: 30%; 
}
.uz-contact-colcx { 
  margin-left: 30%; 
  margin-right: 30%;  
}
.uz-contact-coldx { 
  float: right; 
  width: 30%; 
}
/**
  * LOGIN
 **/
.uz-login-panel {
  position: relative;
  width: 100%;
}
.uz-login-colsx { 
  float: left; 
  width: 30%; 
}
.uz-login-colcx { 
  margin-left: 30%; 
  margin-right: 30%;  
}
.uz-login-coldx { 
  float: right; 
  width: 30%; 
}

/**
  *
  *
  *
 **/
.footer-head {
}
.footer-container {
  width: 100%;
}
.uz-footer-panel {
  position: relative;
  width: 100%;
  padding-top: 20px;
  display: flex;
}
.uz-footer-colsx { 
  float: left; 
  flex: 1; 
  padding-left: 30px;
}
.uz-footer-colcx { 
  flex: 1; 
}
.uz-footer-coldx { 
  float: right; 
  flex: 1;
  padding-right: 30px;
}
.rights {
  color: #969696;
  letter-spacing: .02em;
}
.rights a {
  color: #969696;
  letter-spacing: .02em;
}
/**
 *
**/
.btn .btn-social-icon {
  width: 25px;
  height: 25px;
  padding: 0
}
.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d;
}
.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff;
}
.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1;
}
.btn-outline-twitter:hover {
  background: #2caae1;
  color: #fff;
}
.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38;
}
.btn-outline-instagram:hover {
  background: #e52d27;
  color: #fff;
}
.btn-outline-500px {
  border: 1px solid #000;
  color: #3b579d;
}
.btn-outline-500px:hover {
  background: #000;
  color: #fff;
}