@charset "UTF-8";

html {
}
body {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  /*background-color: #f8f8f8;*/
  color: #d4d7d7;
}
[role="button"] {
  cursor: pointer;
}
[class*="font"] body {
  font-family: Roboto, PT Sans, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  wouz-spacing: normal;
}
a {
  text-decoration: none;
}

/**
  *
  *
  *
 **/
.header-head {
}
.header-container {
  width: 100%;
}
.header-container-index {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.uz-navbar-wrap-new {
  background: url("../image/bg-pattern.jpg") repeat;
}
.uz-navbar-inner {
  position: relative;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
.uz-navbar-panel {
  padding: 25px 0;
}
.uz-navbar-panel-left {
  float: left;
  text-align: left;
  width: 30%;
}
.uz-navbar-panel-center {
  float: left;
  text-align: center;
  width: 20%;
}
.uz-navbar-panel-right {
  float: right;
  text-align: right;
  width: 50%;
}
.brand {
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.brand a {
  font-style: normal;
  color: #fff;
}
.brand p {
  font-style: normal;
  color: #fff;
}
.brand-logo {
  float: left;
}
.brand-name {
  float: left;
  padding-left: 10px;
}
/**
  *
 **/
.icon-default {
  color: #fff;
}
.icon-xs {
  font-size: 25px;
}
.icoFacebook {
  color: #3b579d;
}
.icoFacebook:hover {
  color: #fff;
}
.icoTwitter {
  color: #2caae1;
}
.icoTwitter:hover {
  color: #fff;
}
.icoInstagram {
  color: #dc4a38;
}
.icoInstagram:hover {
  color: #fff;
}
.ico500px {
  color: #3b579d;
}
.ico500px:hover {
  color: #fff;
}
/**
  *
 **/
.navbar-custom {
  font-family: "Montserrat Alternates", Helvetica, Arial, sans-serif;
  font-style:normal;
  font-weight:bold;
  color: #fff;
}
.navbar-custom .navbar-nav .nav-link {
  padding: 1em 1em;
}
.navbar-custom .nav-item.active .nav-link, 
.navbar-custom .nav-item:hover .nav-link {
  color: #fff;
}
.navbar-custom .navbar-nav .nav-link {
  color: #2caae1;
}
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  color: #fff;
}
.navbar-custom .dropdown-menu {
  background-color: transparent;
}
.navbar-custom .dropdown-item {
  color: #fff;
}
.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color: #fff;
  background-color: #2caae1;
}

/**
  *
  *
  *
 **/
.page-head {
}
.page-container {
  width: 100%;
}
.page-container-index {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
/**
  * CONTACTS
 **/
.uz-contact-panel {
  position: relative;
  width: 100%;
}
.uz-contact-colsx { 
  float: left; 
  width: 30%; 
}
.uz-contact-colcx { 
  margin-left: 30%; 
  margin-right: 30%;  
}
.uz-contact-coldx { 
  float: right; 
  width: 30%; 
}
.uz-contact-left {
  text-align: left;
}
.uz-contact-center {
  text-align: center;
}
.uz-contact-right {
  text-align: right;
}
/**
  * LOGIN
 **/
.uz-login-panel {
  position: relative;
  width: 100%;
}
.uz-login-colsx { 
  float: left; 
  width: 30%; 
}
.uz-login-colcx { 
  margin-left: 30%; 
  margin-right: 30%;  
}
.uz-login-coldx { 
  float: right; 
  width: 30%; 
}
.uz-login-left {
  text-align: left;
}
.uz-login-center {
  text-align: center;
}
.uz-login-right {
  text-align: right;
}

/**
  *
  *
  *
 **/
.footer-head {
}
.footer-container {
  width: 100%;
}
.uz-footer-panel {
  position: relative;
  width: 100%;
}
.uz-footer-colsx { 
  float: left; 
  width: 30%; 
}
.uz-footer-colcx { 
  margin-left: 30%; 
  margin-right: 30%;  
}
.uz-footer-coldx { 
  float: right; 
  width: 30%; 
}
.uz-footer-left {
  text-align: left;
}
.uz-footer-center {
  text-align: center;
}
.uz-footer-right {
  text-align: right;
}
.rights {
  color: #000;
  margin-top: 20px;
  letter-spacing: .02em;
}
.rights a {
  color: #000;
  margin-top: 20px;
  letter-spacing: .02em;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/**
 *
**/
.btn .btn-social-icon {
  width: 25px;
  height: 25px;
  padding: 0
}
.btn-outline-facebook {
  border: 1px solid #3b579d;
  color: #3b579d;
}
.btn-outline-facebook:hover {
  background: #3b579d;
  color: #ffffff;
}
.btn-outline-twitter {
  border: 1px solid #2caae1;
  color: #2caae1;
}
.btn-outline-twitter:hover {
  background: #2caae1;
  color: #fff;
}
.btn-outline-instagram {
  border: 1px solid #dc4a38;
  color: #dc4a38;
}
.btn-outline-instagram:hover {
  background: #e52d27;
  color: #fff;
}
.btn-outline-500px {
  border: 1px solid #000;
  color: #3b579d;
}
.btn-outline-500px:hover {
  background: #000;
  color: #fff;
}